---
import { Image } from "astro:assets";
import divider from "../../assets/image/divider.png";
import Accordion from "./accordion.astro";
---

<div class="address_container">
  <Image width={100} src={divider} alt="divider" />
  <p class="title">마음 전하실 곳</p>

  <div class="section">
    <Accordion title="신랑측 마음 전하실 곳">
      <div class="address_info">
        <span class="name">이강엽</span>
        <span class="address">110-438-166154</span>
        <span class="bank_name">신한은행</span>
      </div>
      <div class="address_info">
        <span class="name">이기흥</span>
        <span class="address">477035-52-130869</span>
        <span class="bank_name">농협은행</span>
      </div>
      <div class="address_info">
        <span class="name">최명숙</span>
        <span class="address">351-0803-7298-23</span>
        <span class="bank_name">농협은행</span>
      </div>
    </Accordion>
  </div>
  <div class="section">
    <Accordion title="신부측 마음 전하실 곳">
      <div class="address_info">
        <span class="name">이주영</span>
        <span class="address">00000000000000</span>
        <span class="bank_name">신한은행</span>
      </div>
      <div class="address_info">
        <span class="name">이수윤</span>
        <span class="address">00000000000000</span>
        <span class="bank_name">농협은행</span>
      </div>
      <div class="address_info">
        <span class="name">육성환</span>
        <span class="address">00000000000000</span>
        <span class="bank_name">농협은행</span>
      </div>
    </Accordion>
  </div>
</div>

<style>
  .address_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 60px;

    .title {
      font-size: 36px;
      font-weight: 900;
    }

    .section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-top: 40px;

      .description {
        font-size: 20px;
        font-weight: 900;
      }

      .address_info {
        font-size: 20px;
        letter-spacing: 2px;
        margin-left: 2px;
      }
    }
  }
</style>

<script>
  const accordionHeaders = document.querySelectorAll(".accordion_header");

  accordionHeaders.forEach((header) => {
    header.addEventListener("click", (e) => {
      header.classList.toggle("active");

      const content = header.nextElementSibling;
      content?.classList.toggle("active");
    });
  });
</script>
