---
import Gallery from "../components/gallery/gallery.astro";
import Main from "../components/main/main.astro";
import SecondSection from "../components/secondSection/secondSection.astro";
import WeddingInfo from "../components/weddingInfo/weddingInfo.astro";
import Map from "../components/map/map.astro";
import Layout from "../layouts/Layout.astro";

import "./index.css";
import Address from "../components/address/address.astro";
import Introduction from "../components/introduction/introduction.astro";
import Background from "../components/background/background.astro";
---

<Layout>
  <div class="container">
    <Background />
    <div class="content">
      <Main />
      <Introduction />
      <WeddingInfo />
      <SecondSection />
      <Gallery />
      <Map />
      <Address />
    </div>
  </div>
</Layout>

<style>
  @font-face {
    font-family: "son";
    src: url("../assets/font/son.ttf") format("woff2");
  }

  .container {
    font-family: "son";
    font-weight: 700;
    position: relative;

    color: #000;
    width: 100%;
    min-height: 100vh;

    .content {
      margin: 0 auto;

      max-width: 480px;

      padding: 0 20px 30px;

      .fade_in {
        opacity: 0;
        transform: translateY(20px);
        transition:
          opacity 0.5s ease,
          transform 0.5s ease;
      }

      .fade_in.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
</style>

<script>
  const handleIntersection = (entries: IntersectionObserverEntry[]) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("visible");
      }
    });
  };

  const observer = new IntersectionObserver(handleIntersection, {
    threshold: 0.4,
    rootMargin: "50px",
  });

  const contentElement = document.querySelector(".content");
  if (contentElement) {
    Array.from(contentElement.children).forEach((element) => {
      element.classList.add("fade_in");
      observer.observe(element);
    });
  }
</script>
