---
import { Image } from "astro:assets";
import divider from "../../assets/image/divider.png";
import calendar from "../../assets/image/calendar.png";
---

<div class="wedding_info_container">
  <Image width={100} src={divider} alt="divider" />
  <p class="title">Save the Date</p>
  <p class="description">2025.06.15. Sun</p>
  <Image width={300} src={calendar} alt="Calendar" />
</div>

<style>
  .wedding_info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 36px;
      font-weight: 900;
    }

    .description {
      font-size: 28px;
      font-weight: 800;
    }

    img {
      margin-top: 40px;
    }
  }
</style>
