.map_container {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  gap: 10px;

  .map_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 20px;
    }
    .sub_title {
      font-weight: 500;
      font-size: 16px;
    }
  }

  #map {
    width: 360px;
    height: 360px;

    border-radius: 20px;
  }
}
